<div id="form-pemain" class="flex-column align-items-center w-100"  style="display: none; gap: 8px;">
    <p>Registrasi Pemain</p>
    <div class="d-flex flex-column justify-content-between w-100" style="gap:4px;">
        <label for="username">Username:</label>
        <input onChange="checkValid()" class="form-control" placeholder="john_doe" id="username" type="text" name="username" />
    </div>
    <div class="d-flex flex-column justify-content-between w-100" style="gap:4px;">
        <label for="password">Password:</label>
        <input onChange="checkValid()" class="form-control" placeholder="*******" id="password" type="password" name="password" />
    </div>
    <div class="d-flex flex-column justify-content-between w-100" style="gap:4px;">
        <label for="email">Email:</label>
        <input onChange="checkValid()" class="form-control" placeholder="john_doe@gmail.com" id="email" type="email" name="email" />
    </div>
    <div class="d-flex flex-column justify-content-between w-100" style="gap:4px;">
        <label for="no_hp">No HP:</label>
        <input onChange="checkValid()" class="form-control" placeholder="62845678910" id="no_hp" type="text" name="no_hp" />
    </div>
</div>