<div id="form-admin" class="flex-column align-items-center w-100" style="display: none; gap: 8px;">
    <p>Registrasi Admin</p>
    <div class="d-flex flex-column justify-content-between w-100" style="gap:4px;">
        <label for="username-admin">Username: </label>
        <input onChange="checkValid()" class="form-control" placeholder="john_doe" id="username-admin" type="text" name="username-admin" />
    </div>
    <div class="d-flex flex-column justify-content-between w-100" style="gap:4px;">
        <label for="password-admin">Password: </label>
        <input onChange="checkValid()" class="form-control" placeholder="*******" id="password-admin" type="password" name="password-admin" />
    </div>
</div>