<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex flex-col items-center justify-center min-h-full bg-gray-100">
    <section class="relative mx-auto">
      <nav class="flex justify-between mt-0 bg-gray-900 text-white w-screen">
        <div class="px-5 xl:px-12 py-6 flex w-full items-center">
          <a class="text-3xl font-bold font-heading" href="#">
            BABADU - A4
          </a>
          <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
            <li><a class="hover:text-gray-200" href="/manajer">Dashboard</a></li>
            <li><a class="hover:text-gray-200" href="/manajer/tim">Tim</a></li>
            <li><a class="hover:text-gray-200" href="#">Peminjaman Stadium</a></li>
            <li><a class="hover:text-gray-200" href="#">Pertandingan</a></li>
            <li><a class="hover:text-gray-200" href="#">Rapat</a></li>
          </ul>
          <div class="xl:flex items-center space-x-5 items-center">
            <a class="flex items-center hover:text-gray-200" href="/logout">
                Log out
            </a>
            
          </div>
        </div>

      </nav>
      
    </section>
  

  <div class="bg-white rounded-lg shadow-md p-8 w-full container mx-auto my-8">
    
    <div class="flex justify-center items-center">
      <div class="flex p-4">
        <div class="container">
          <h1 class="text-3xl font-bold mb-6 text-center">Dashboard</h1>
          <div class="grid grid-cols-2 gap-6 mb-8">
            <div class="flex flex-col">
              <span class="text-gray-500 font-medium mb-1">Nama Depan</span>
              <span class="text-gray-900 font-semibold">{{nama_depan}}</span>
            </div>
            <div class="flex flex-col">
              <span class="text-gray-500 font-medium mb-1">Nama Belakang</span>
              <span class="text-gray-900 font-semibold">{{nama_belakang}}</span>
            </div>
            <div class="flex flex-col">
              <span class="text-gray-500 font-medium mb-1">Nomor HP</span>
              <span class="text-gray-900 font-semibold">{{no_hp}}</span>
            </div>
            <div class="flex flex-col">
              <span class="text-gray-500 font-medium mb-1">Email</span>
              <span class="text-gray-900 font-semibold">{{email}}</span>
            </div>
            <div class="flex flex-col">
              <span class="text-gray-500 font-medium mb-1">Alamat</span>
              <span class="text-gray-900 font-semibold">{{alamat}}</span>
            </div>
            <div class="flex flex-col">
              <span class="text-gray-500 font-medium mb-1">Status</span>
      
              <span class="text-gray-900 font-semibold">
                {{ status}}
              </span>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <h1 class="text-2xl font-semibold mb-4 text-center">Tim</h1>
    {% if tim %}
    <h2 class="text-xl font-semibold mt-8 mb-4 text-center">{{tim}} - {{universitas}}</h2>
    {% if list_pemain %}
    <h2 class="text-xl font-semibold mt-8 mb-4 text-center">Pemain</h2>
    <table class="table-auto mx-auto w-full">
      <thead>
        <tr tr class="bg-gray-200">
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">No HP</th>
          <th class="px-4 py-2">Tanggal Lahir</th>
          <th class="px-4 py-2">Is Captain</th>
          <th class="px-4 py-2">Posisi</th>
          <th class="px-4 py-2">NPM</th>
          <th class="px-4 py-2">Jenjang</th>
        
        </tr>
      </thead>
      <tbody>
  
          
          {% for pemain in list_pemain %}

          <tr>
          <td class="border px-4 py-2">{{ pemain.nama_depan }} {{ pemain.nama_belakang }}</td>
          <td class="border px-4 py-2">{{ pemain.nomor_hp }}</td>
          <td class="border px-4 py-2">{{ pemain.tgl_lahir }}</td>
          <td class="border px-4 py-2">
            {% if pemain.is_captain %}
            Yes
            {% else %}
            No
            {% endif %}
          </td>
          <td class="border px-4 py-2">{{ pemain.posisi }}</td>
          <td class="border px-4 py-2">{{ pemain.npm }}</td>
          <td class="border px-4 py-2">{{ pemain.jenjang }}</td>
        </tr>
        {% endfor %}
       
      </tbody>
    </table>
    {% else %}
    <p class="text-center">Anda belum menambahkan pemain</p>
    {% endif %}
    {% if list_pelatih %}
    <h2 class="text-xl font-semibold mt-8 mb-4 text-center">Pelatih</h2>
    <table class="table-auto mx-auto mb-8 w-full">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-4 py-2">Nama Pelatih</th>
          <th class="px-4 py-2">No HP</th>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Alamat</th>
          <th class="px-4 py-2">Spesialisasi</th>
          
        </tr>
      </thead>
      <tbody>
        {% if list_pelatih %}
        {% for pelatih in list_pelatih %}
        <tr class="text-center">
          <td class="border px-4 py-2">{{pelatih.nama_depan}} {{pelatih.nama_belakang}}</td>
          <td class="border px-4 py-2">{{pelatih.nomor_hp}}</td>
          <td class="border px-4 py-2">{{pelatih.email}}</td>
          <td class="border px-4 py-2">{{pelatih.alamat}}</td>
          <td class="border px-4 py-2">{{pelatih.spesialisasi}}</td>
        </tr>
        {% endfor %}
        {% endif %}

      </tbody>
    </table>
    {% else %}
    <p class="text-center">Anda belum menambahkan pelatih</p>
    {% endif %}
    
    {% else %}
    <p class="text-center">{{message}}</p>
    
    {% endif %}

  </div>
  
    

</body>

</html>
