<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Form Pendaftaran Tim</title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.15/dist/tailwind.min.css">
</head>

<body class="bg-gray-100">
  <section class="relative mx-auto">
    <nav class="flex justify-between mt-0 bg-gray-900 text-white w-screen">
      <div class="px-5 xl:px-12 py-6 flex w-full items-center">
        <a class="text-3xl font-bold font-heading" href="#">
          BABADU - A4
        </a>
        <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
          <li><a class="hover:text-gray-200" href="/manajer">Dashboard</a></li>
          <li><a class="hover:text-gray-200" href="/manajer/tim">Tim</a></li>
          <li><a class="hover:text-gray-200" href="#">Peminjaman Stadium</a></li>
          <li><a class="hover:text-gray-200" href="#">Pertandingan</a></li>
          <li><a class="hover:text-gray-200" href="#">Rapat</a></li>
        </ul>
        <div class="xl:flex items-center space-x-5 items-center">
          <a class="flex items-center hover:text-gray-200" href="/logout">
              Log out
          </a>
          
        </div>
      </div>

    </nav>
    
  </section>
  {% if message %}
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <span class="block sm:inline">{{ message }}</span>
  </div>
  {% endif %}
  <div class="flex items-center justify-center h-screen">
    
    <form method="POST" action="/manajer/tim/create/" class="bg-white shadow-md rounded px-8 py-6">
      {% csrf_token %}
      <h2 class="text-xl font-bold mt-2 mb-4 text-center">Form Registrasi Tim</h2>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="nama_tim">
          Nama Tim:
        </label>
        <input class="form-input block w-full mt-1 border border-gray-300 rounded" type="text" name="nama_tim" id="nama_tim">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="universitas">
          Nama Universitas:
        </label>
        <input class="form-input block w-full mt-1 border border-gray-300 rounded" type="text" name="universitas" id="universitas">
      </div>
      <div class="flex items-center justify-center">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
          DAFTAR
        </button>
      </div>
    </form>
  </div>
</body

</html>
