<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Form Registrasi</title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.15/dist/tailwind.min.css">
</head>

<body class="flex items-center justify-center h-screen bg-gray-100">
  <div class="w-full max-w-md">
    <form class="bg-white shadow-md rounded px-8 py-6">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="nama-tim">
          Nama Tim:
        </label>
        <input class="form-input block w-full mt-1 border border-gray-300 rounded" type="text" id="nama-tim">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="nama-univ">
          Nama Universitas:
        </label>
        <input class="form-input block w-full mt-1 border border-gray-300 rounded" type="text" id="nama-univ">
      </div>
      <div class="flex items-center justify-center">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
          DAFTAR
        </button>
      </div>
    </form>
  </div>
</body

</html>
