<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History Rapat (Manager)</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <div class="container mx-auto">
    <h1 class="text-3xl font-bold my-8 text-center">List Rapat</h1>
    <table class="w-full border-collapse border border-gray-400">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-4 py-2 text-gray-800">Rapat Tim</th>
          <th class="px-4 py-2 text-gray-800">Nama Panitia</th>
          <th class="px-4 py-2 text-gray-800">Stadium</th>
          <th class="px-4 py-2 text-gray-800">Tanggal dan Waktu</th>
          <th class="px-4 py-2 text-gray-800">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white">
          <td class="px-4 py-2 border border-gray-400">A vs B</td>
          <td class="px-4 py-2 border border-gray-400">XYZ</td>
          <td class="px-4 py-2 border border-gray-400">Stadium GBK</td>
          <td class="px-4 py-2 border border-gray-400">5 Juli 2023, 07.00 - 09.00</td>
          <td class="px-4 py-2 border border-gray-400"><a href="#" class="text-blue-500">Lihat Laporan Rapat</a></td>
        </tr>
        <tr class="bg-gray-100">
          <td class="px-4 py-2 border border-gray-400">C vs D</td>
          <td class="px-4 py-2 border border-gray-400">XYZ</td>
          <td class="px-4 py-2 border border-gray-400">Stadium GBK</td>
          <td class="px-4 py-2 border border-gray-400">7 Juli 2023, 13.00 - 15.00</td>
          <td class="px-4 py-2 border border-gray-400"><a href="#" class="text-blue-500">Lihat Laporan Rapat</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
